@import url("variables.css");

body{

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    background:linear-gradient(
        180deg,
        #F5FAF6,
        #EAF7EF
    );

}

body.dark-mode{

    background:linear-gradient(
        180deg,
        #0F1416,
        #12171A
    );

}

.register-container{

    width:100%;

    max-width:420px;

    padding:24px;

}

.register-card{

    background:var(--surface-color);

    border-radius:30px;

    padding:40px 30px;

    box-shadow:var(--shadow-medium);

}

.logo{

    width:90px;

    margin:auto;

    display:block;

    margin-bottom:20px;

}

h1{

    text-align:center;

    font-size:32px;

}

.subtitle{

    text-align:center;

    color:var(--text-light);

    margin-bottom:35px;

}

.input-group{

    margin-bottom:18px;

}

.input-group label{

    display:block;

    margin-bottom:8px;

    font-weight:500;

}

.password-wrapper{

    position:relative;

}

.eye-button{

    position:absolute;

    right:15px;

    top:50%;

    transform:translateY(-50%);

    background:none;

    font-size:18px;

}

.register-button{

    width:100%;

    margin-top:20px;

}

.login-text{

    margin-top:30px;

    text-align:center;

}
