<!-- ==========================================================
     EcoRobo
     Bottom Navigation
========================================================== -->

<nav class="bottom-nav">

    <!-- Home -->
    <button
        class="bottom-nav-item active"
        data-page="home"
        id="nav-home">

        <span class="material-symbols-rounded">
            home
        </span>

        <small>Início</small>

    </button>

    <!-- Scanner -->
    <button
        class="scanner-button"
        id="nav-camera"
        data-page="camera">

        <span class="material-symbols-rounded">
            photo_camera
        </span>

    </button>

    <!-- Catálogo -->
    <button
        class="bottom-nav-item"
        id="nav-catalog"
        data-page="catalog">

        <span class="material-symbols-rounded">
            menu_book
        </span>

        <small>Catálogo</small>

    </button>

</nav>