<!-- ==========================================================
     EcoRobo
     Smart Loader
========================================================== -->

<div id="loader" class="loader-overlay hidden">

    <div class="loader-card">

        <div
            id="loaderIcon"
            class="loader-icon">

            🌎

        </div>

        <h2>EcoRobo</h2>

        <p id="loaderText">

            Preparando sistema...

        </p>

        <div class="loader-progress">

            <div
                id="loaderBar"
                class="loader-progress-fill">
            </div>

        </div>

    </div>

</div>