<!-- ==========================================================
     Modal de Confirmação
========================================================== -->

<div

    id="appModal"

    class="modal">

    <div class="modal-content">

        <h2 id="modalTitle">

            Título

        </h2>

        <p id="modalText">

            Texto

        </p>

        <div class="modal-actions">

            <button

                id="modalCancel"

                class="secondary-button"

                type="button">

                Cancelar

            </button>

            <button

                id="modalConfirm"

                class="primary-button"

                type="button">

                Confirmar

            </button>

        </div>

    </div>

</div>
